<header class="header">
  <div class="container container--header">
 
      <div class="lang-svg">
       <svg class="form__labale__icon" width="50" height="48">
                      <use
                        href="./images/symbol-defs.svg#icon-images"
                      ></use></svg>
                     
                
    </div>
    <div class="cc"> 
    <ul class="menu">
      <li class="menu-item lang-menu-1">
        <a  href="" class="item-link">Главная</a></li>
      <li  class="menu-item lang-menu-2">
        <a href="" class="item-link">Услуги</a></li>
      <li  class="menu-item lang-menu-3">
         <a href="" class="item-link">Контакты</a></li>
      <li  class="menu-item lang-menu-4">
         <a href="" class="item-link">Школа остеопатии</a></li>
    </ul>
    </div>



   
  <div class="lang">
    <div>
  <button class="header-btn">RU</button>
</div>

<div>
   <button class="header-btn">EN</button>
</div>

<div>
    <button class="header-btn">ES</button>
</div>
<div>
    <button class="header-btn">TUR</TR></button>
</div>
  </div>
</div></div>
</header>


  <!-- <div class="langueges">
      <!-- <label for="size">Size</label> -->
<!-- <select id="lang" name="lang">
  <option value="ru" selected>RU</option>
  <option value="en">EN</option>
  <option value="es" >ES</option>
  <option value="tur">TUR</option>
</select>
    </div> --> -->