<main class="main">
  <section class="hero">
    <div class="hero_author container">
      <div class="hero_author-title">
        <h1 class="hero_title">Доверьтесь профессионалам</h1>
        <h2 class="hero_title_name">Я Василий Дидух</h2>
        <p>остеопат, мануальный терапевт , массажист</p>
        <div>
          <button
            onclick="window.location.href =`https://api.whatsapp.com/send/?phone=905338811713`;"
            class="hero-btn"
          >
            WhatsApp
          </button>
          <p>всегда открыт для клиентов</p>
          <div class="hero-title-text">
            <p class="hero-title-text-cont">
              Детям имеющим физические отклонения консультация и сеансы
              реабилитации - бесплатно
            </p>
          </div>
        </div>
      </div>

      <div class="hero_author__photo">
        <img
          src="./images/vas.jpg"
          class="hero_author__photo__size"
          alt="authornphoto"
          width="700px"
        />
      </div>
    </div>
  </section>
</main>
